.press-start-2p-regular {
    font-family: "Press Start 2P", system-ui;
    font-weight: 600;
    font-style: normal;
}
.oxanium-regular {
    font-family: "Oxanium", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

*{
    box-sizing: border-box;
}
body{
    margin: 0;
    background-color: #3f3f3f;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #222222;
    color: #fff;
    padding:30px 80px 30px 80px;
    width: 100%;
    
    h1{
        font-family: "Press Start 2P", system-ui;
        font-size: 2rem;
        margin: 0;
    }
    .github-links{
        display: flex;
        gap: 25px;
        a{
            display: flex;
            flex-direction: row;
            text-decoration: none;
            color: #fff;
            gap: 12px;
            align-items: center;
            transition: color 0.3s;

            &:hover{
                color: #ff0000;

                svg{
                    fill: #ff0000;
                }
            }
            p{
                font-size: 1.3rem;
                font-family: "Oxanium", sans-serif;
                margin: 0;
            }
            svg{
                width: 30px;
                fill: #fff;
                transition: 0.3s;
            }
        }
    }
}

.info-section{
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 30px 0 30px 0;
    color: #fff;
    h2{
        font-family: "Press Start 2P", system-ui;
        font-size: 1.5rem;
    }
    p{
        font-size: 1rem;
        margin: 0;
        font-family: "Press Start 2P", system-ui;
        text-align: justify;
        line-height: 2;
    }
}

.main-section{
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0 30px 0;
    color: #fff;

    .image-container{
        width:256px;
        display:flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;

        h3{
            margin: 0;
            font-family: "Press Start 2P", system-ui;
        }
        .input-image{
            width: 256px;
            height: 256px;
            object-fit:fill;
            border: 1px solid #fff;
        }
        .output-image{
            width: 256px;
            height: 256px;
            object-fit:fill;
            border: 1px solid #fff;
        }
    }
    p{
        font-size: 1.1rem;
        margin: 0;
        font-family: "Press Start 2P", system-ui;
        max-width: 45%;
        text-align: justify;
        line-height: 2;
    }
    input[type="file"] {
        display: none;
    }

    .custom-file-upload, button {
        border: none;
        width: 100%;
        background-color: #222222;
        display: inline-block;
        padding: 15px 20px;
        cursor: pointer;
        border-radius: 10px;
        text-align: center;
        font-size: 1.2rem;
        font-family: "Oxanium", sans-serif;
        color: #fff;

        &:hover{
            background-color: #2e2e2e;
        }
        &:disabled {
            background-color: transparent;
            border: 1px solid #9e9e9e;
            color: #9e9e9e;
            cursor: not-allowed;
        }
    }

    #start{
        width: 100px;
        height: 100px;
    }
}